[Desktop Entry]
Comment[it_IT]=
Comment=
Exec=kmix
GenericName[it_IT]=
GenericName=
Icon=system-run
MimeType=
Name[it_IT]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
